<manifest
    package="com.example.mysdkforandroid"
    xmlns:android="http://schemas.android.com/apk/res/android">

  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
  <application
      android:allowBackup="true"
      >
    <activity android:name=".okhttp.activity.AdBrowserActivity"/>
  </application>
</manifest>

